ArchivesSnake==0.9.1
asterism~=0.9
Django==4.0.4
django4-cron==0.5.1
djangorestframework==3.13.1
ElectronBonder~=1.0
iso-639==0.4.5
jsonschema~=4.7
odin==1.7.3
psycopg2-binary==2.9.3
PyYAML==6.0
./rac-schemas
requests~=2.28
shortuuid==1.0.8
uritemplate==4.1.1
vcrpy~=4.2
