DJANGO_CRON_LOCKFILE_PATH = "/tmp/pisces_cron/"  # absolute path to store lockfiles for running cron jobs (string)
DJANGO_DEBUG = True  # run Django in debug mode, which outputs stack traces to the UI, set to False for production (boolean)
DJANGO_SECRET_KEY = "d$@ip!go1iqfsckz=g7q+*p6epzk$&w*0)yo*!+^rc%jpumn5v"  # used by Django to create hashes (string)
DJANGO_ALLOWED_HOSTS = ["localhost", "pisces-web"]  # hosts Pisces will respond to (list of strings)
SQL_ENGINE = "django.db.backends.postgresql"  # the database engine used by Pisces (string, one of django.db.backends)
SQL_DATABASE = "postgres"  # name of the application database (string)
SQL_USER = "postgres"  # name of the application database user (string)
SQL_PASSWORD = "postgres"  # password for the application database (string)
SQL_HOST = "pisces-db"  # host for the application database (string)
SQL_PORT = 5432  # port on which the application database can be reached (integer)
AS_BASEURL = "https://sandbox.archivesspace.org/api"  # base URL for an ArchivesSpace API instance (string)
AS_USERNAME = "admin"  # username for an ArchivesSpace user (read-only credentials required) (string)
AS_PASSWORD = "admin"  # password for the ArchivesSpace user (string)
AS_REPO_ID = 2  # identifier for an ArchivesSpace repository (integer)
CARTOGRAPHER_USE = True  # set to False to disable Cartographer completely (boolean)
CARTOGRAPHER_BASEURL = "http://localhost:8007"  # base URL for Cartographer (string)
CARTOGRAPHER_HEALTH_CHECK_PATH = "/status/health/"  # path to health check endpoint in Cartographer, default is "/status/health/" (string)
CHUNK_SIZE = 20000  # the number of fetched records to process at once (integer)
INDEX_DELETE_URL = "http://scorpio-web:8008/index/delete/"  # URL which handles request to delete objects from Elasticsearch, by default a Scorpio URL (string)
EMAIL_HOST = "mail.example.com"  # mail host used to send notifications of Pisces errors (string)
EMAIL_PORT = 123  # port at which mail service is available at the host (integer)
EMAIL_HOST_USER = "test@example.com"  # full email address of the user responsible for sending error notifications (string)
EMAIL_HOST_PASSWORD = ""  # password for the email user (string)
EMAIL_USE_TLS = True  # use a TLS connection when talking to SMTP server. (Boolean)
EMAIL_USE_SSL = False  # use an SSL connection when talking to an SMTP server. (Boolean)
EMAIL_TO_ADDRESSES = ["user@example.com"]  # full email addresses to which error notifications should be sent (list of strings)
RESOURCE_ID_0_PREFIXES = ["FA"]  # limits fetching of ArchivesSpace resource records to those whose id_0 field begins with one of these strings. Leave empty to fetch all resource records (list of strings)
FINDING_AID_STATUS_RESTRICT = ["Unprocessed", "In Progress", "Under Revision", "Deaccessioned"] # limits fetching of ArchivesSpace resource records to exclude those with specific finding aid statuses. Leave empty to fetch all resource records (list of strings)
MOVING_IMAGE_REFS = []  # ArchivesSpace URIs (for example "/subjects/42") for controlled terms which refer to moving image materials (list of strings)
AUDIO_REFS = ["/subjects/42"]  # ArchivesSpace URIs (for example "/subjects/42") for controlled terms which refer to audio materials (list of strings)
PHOTOGRAPH_REFS = []  # ArchivesSpace URIs (for example "/subjects/42") for controlled terms which refer to photographic materials (list of strings)
ASSET_BASEURL = "https://iiif.rockarch.org"  # base URL for IIIF image assets, used to check whether or not assets are available online (string)
NOTIFY_EMAIL = True  # deliver error messages via email (boolean)
NOTIFY_TEAMS = False  # deliver error message via Microsoft Teams (boolean)
TEAMS_URL = "https://teams-url.com"  # URL for Incoming Webhook Connector in Microsoft Teams Channel
